// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Lato");

@import "normalize";

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 1rem;

// Colors
// $blue: #3490dc;
// $blue: #dec3ef;
$blue: #bc89dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

// DARK

body {
    background-color: #242527;
    color: #fff;
}

.btn-primary {
    color: #fff;
}

.card {
    background-color: #4d4d4d;
}

.table {
    color: #fff;
}

.card {
    border-radius: 8px;
}

.progress {
    background-color: #808080;
    height: 8px;
}

.form-control,
.form-control:focus,
.form-control[readonly] {
    background-color: #3c3b3b;
    color: #fff;
    border: 1px solid #4a4a4a;
}

.form-control[readonly] {
    cursor: pointer;
}

.page-link {
    background-color: #4d4d4d;
    color: #fff;
}

.page-item.disabled .page-link {
    color: #fff;
    background-color: #3f3f3f;
}

// ADJUST FOR SMALL SCREENS

@include media-breakpoint-down(sm) {
    * {
        font-size: 14px;
    }

    .card-body,
    .card-header {
        padding: 10px;
    }
    .card-body > .table th,
    .card-body > .table td {
        padding: 2px;
    }
}

// OVERALL CUSTOM

.table > thead > tr > th {
    border-top: none;
}

// get rid of type number arrows
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// BOOTSTRAP DATEPICKER CUSTOM STYLES
// COMING BACK TO FLESH OUT LATER

$border-color: #7d7d7d;
$default-white: #fff;
$default-primary: #7774e7;
$default-info: red;

.datepicker {
    border-radius: 0;
    padding: 12px;
    box-shadow: none;
    border: 1px solid $border-color;

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    table {
        tr {
            th,
            td {
                border-radius: 0;
                width: 40px;
                height: 35px;
            }

            td {
                transition: all 0.2s ease-in-out;

                span {
                    border-radius: 0;
                }
            }
        }
    }
}

.dropdown-menu {
    background-color: #5b5d5f;
    color: #fff;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active:hover.active:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
    color: $default-white;
    background-color: $default-primary;
    border-color: transparent;
}

.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
    background: $default-primary;
    color: #fff;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: $default-primary;
    color: #fff;
    cursor: pointer;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: $default-primary;
    color: #fff;
    cursor: pointer;
}

.datepicker-inline {
    width: 330px;
}

.daterangepicker {
    border-radius: 0;
    padding: 30px;
    box-shadow: none;
    border: 1px solid $border-color;

    .input-mini {
        border-radius: 0;
        margin-bottom: 20px;
        height: 40px;
        padding: 0 6px 0 35px;

        &.active {
            border-radius: 0;
            border-color: lighten($default-info, 20%);
        }
    }

    .daterangepicker_input {
        i {
            position: absolute;
            left: 10px;
            top: 13px;
        }
    }

    td,
    th {
        border-radius: 0;
        width: 40px;
        height: 35px;

        &.available {
            &:hover {
                background: $default-primary;
                color: #fff;
            }
        }
    }

    td {
        &.in-range {
            background-color: transparent;
            color: $default-primary;
        }

        &.active {
            background-color: $default-primary;
            border-color: transparent;
            color: #fff;

            &:hover {
                background-color: $default-primary;
                border-color: transparent;
                color: #fff;
            }
        }

        &.start-date {
            border-radius: 0;

            &.end-date {
                border-radius: 0;
            }
        }

        &.end-date {
            border-radius: 0;
        }
    }

    select {
        &.hourselect,
        &.minuteselect,
        &.secondselect,
        &.ampmselect {
            border: 1px solid $border-color;
            min-height: 30px;
        }
    }

    .calendar-time {
        i {
            top: 8px;
            left: 35px;
        }
    }
}
