// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Lato");

@import "normalize";

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 1rem;

// Colors
$blue: #bc89dc;
$primary: #bc89dc;

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

// DARK

body {
    background-color: #242527;
    color: #fff;
}

.btn-primary {
    color: #fff;
}

.card {
    background-color: #4d4d4d;
}

.table {
    color: #fff;
}

.card {
    border-radius: 8px;
}

.progress {
    background-color: #808080;
    height: 8px;
}

.form-control,
.form-control:focus,
.form-control[readonly] {
    background-color: #3c3b3b;
    color: #fff;
    border: 1px solid #4a4a4a;
}

.form-control[readonly] {
    cursor: pointer;
}

.page-link {
    background-color: #4d4d4d;
    color: #fff;
}

.page-item.disabled .page-link {
    color: #fff;
    background-color: #3f3f3f;
}

// ADJUST FOR SMALL SCREENS

@include media-breakpoint-down(sm) {
    * {
        font-size: 14px;
    }

    .card-body,
    .card-header {
        padding: 14px;
    }
    .card-body > .table th,
    .card-body > .table td {
        padding: 2px;
    }

    .table-hide-sm {
        display: none;
    }

    li.page-item {
        display: none;
    }

    .page-item:first-child,
    .page-item:last-child,
    .page-item.active {
        display: block;
    }

    .dash-cards > div:first-child {
        padding-right: 7px;
    }
    .dash-cards > div:nth-child(2) {
        padding-left: 7px;
    }
    .dash-cards > div:nth-child(3) {
        padding-right: 7px;
    }
    .dash-cards > div:nth-child(4) {
        padding-left: 7px;
    }
}

// OVERALL CUSTOM

h2 {
    margin-bottom: 1rem;
}

a:hover {
    color: $primary;
    text-decoration: none;
}
textarea {
    resize: none;
}

.table > thead > tr > th {
    border-top: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

select {
    cursor: pointer;
}

// .table td,
// .table th {
//     text-align: center;
// }

.fit {
    white-space: nowrap;
    width: 15%;
}

.error-text {
    color: #f07587;
    margin-top: 0.25rem;
}

// get rid of type number arrows
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.this-goal-week {
    background-color: #5f5d5d;
}

.card-darker {
    background-color: #191c20;
}

.card-darker h4 {
    margin-bottom: 0;
}

// BOOTSTRAP DATEPICKER CUSTOM STYLES
// COMING BACK TO FLESH OUT LATER

$border-color: #7d7d7d;
$default-white: #fff;
$default-primary: #bc89dc;
$default-info: red;

.datepicker {
    border-radius: 0;
    padding: 12px;
    box-shadow: none;
    border: 1px solid $border-color;

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    table {
        tr {
            th,
            td {
                border-radius: 0;
                width: 40px;
                height: 35px;
            }

            td {
                transition: all 0.2s ease-in-out;

                span {
                    border-radius: 0;
                }
            }
        }
    }
}

.dropdown-menu {
    background-color: #5b5d5f;
    color: #fff;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active:hover.active:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
    color: $default-white;
    background-color: $default-primary;
    border-color: transparent;
}

.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
    background: $default-primary;
    color: #fff;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: $default-primary;
    color: #fff;
    cursor: pointer;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: $default-primary;
    color: #fff;
    cursor: pointer;
}

.datepicker-inline {
    width: 330px;
}

.daterangepicker {
    border-radius: 0;
    padding: 30px;
    box-shadow: none;
    border: 1px solid $border-color;

    .input-mini {
        border-radius: 0;
        margin-bottom: 20px;
        height: 40px;
        padding: 0 6px 0 35px;

        &.active {
            border-radius: 0;
            border-color: lighten($default-info, 20%);
        }
    }

    .daterangepicker_input {
        i {
            position: absolute;
            left: 10px;
            top: 13px;
        }
    }

    td,
    th {
        border-radius: 0;
        width: 40px;
        height: 35px;

        &.available {
            &:hover {
                background: $default-primary;
                color: #fff;
            }
        }
    }

    td {
        &.in-range {
            background-color: transparent;
            color: $default-primary;
        }

        &.active {
            background-color: $default-primary;
            border-color: transparent;
            color: #fff;

            &:hover {
                background-color: $default-primary;
                border-color: transparent;
                color: #fff;
            }
        }

        &.start-date {
            border-radius: 0;

            &.end-date {
                border-radius: 0;
            }
        }

        &.end-date {
            border-radius: 0;
        }
    }

    select {
        &.hourselect,
        &.minuteselect,
        &.secondselect,
        &.ampmselect {
            border: 1px solid $border-color;
            min-height: 30px;
        }
    }

    .calendar-time {
        i {
            top: 8px;
            left: 35px;
        }
    }
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #f07587;
    background-image: -moz-linear-gradient(to bottom, #f07587, #f07587);
    background-image: -ms-linear-gradient(to bottom, #f07587, #f07587);
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(#f07587),
        to(#f07587)
    );
    background-image: -webkit-linear-gradient(to bottom, #f07587, #f07587);
    background-image: -o-linear-gradient(to bottom, #f07587, #f07587);
    background-image: linear-gradient(to bottom, #f07587, #f07587);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07587', endColorstr='#f07587', GradientType=0);
    border-color: #f07587 #f07587 #f07587;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
}

.datepicker table tr td.today:hover:hover {
    color: #fff;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: #bc89dc;
    background-image: -moz-linear-gradient(to bottom, #bc89dc, #bc89dc);
    background-image: -ms-linear-gradient(to bottom, #bc89dc, #bc89dc);
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(#bc89dc),
        to(#bc89dc)
    );
    background-image: -webkit-linear-gradient(to bottom, #bc89dc, #bc89dc);
    background-image: -o-linear-gradient(to bottom, #bc89dc, #bc89dc);
    background-image: linear-gradient(to bottom, #bc89dc, #bc89dc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc89dc', endColorstr='#bc89dc', GradientType=0);
    border-color: #bc89dc #bc89dc #bc89dc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
